@font-face {
 font-family: 'Museo Sans Light';
 src: url('../repair/fonts/MuseoSansCiril/MuseoSansCyrl-300.eot');
 src: url('../repair/fonts/MuseoSansCiril/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../repair/fonts/MuseoSansCiril/MuseoSansCyrl-300.woff') format('woff'), url('../repair/fonts/MuseoSansCiril/MuseoSansCyrl-300.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Museo Sans Medium';
 src: url('../repair/fonts/MuseoSansCiril/MuseoSansCyrl-500.eot');
 src: url('../repair/fonts/MuseoSansCiril/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), url('../repair/fonts/MuseoSansCiril/MuseoSansCyrl-500.woff') format('woff'), url('../repair/fonts/MuseoSansCiril/MuseoSansCyrl-500.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Museo Sans Bold';
 src: url('../repair/fonts/MuseoSansCirilMuseoSansCyrl-700.eot');
 src: url('../repair/fonts/MuseoSansCirilMuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), url('../repair/fonts/MuseoSansCirilMuseoSansCyrl-700.woff') format('woff'), url('../repair./fonts/MuseoSansCirilMuseoSansCyrl-700.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}